/*body, html
{
  min-height: 100%;
  margin: 0;
}*/
html {height: 100%;}
body {
  height: 100%;
  background-attachment: fixed;
  background: rgb(67,96,157);
}

.wrapper
{
  min-height: 100%;
  margin-bottom: -160px;
}
.footer, .push {height: 180px;}
.footer {margin-bottom: 30px; margin-top: 20px;}

#Foot
{
  background: rgb(0, 54, 105);

  color: rgb(255, 255, 255);

  -webkit-box-shadow: 0px 0px 20px 30px rgb(0,54,105);
  -moz-box-shadow: 0px 0px 20px 30px rgb(0,54,105);
  box-shadow: 0px 0px 20px 30px rgb(0,54,105);
}

#Title /* Font */
{
  margin: 40px;
  font-family: 'Lobster Two', cursive;
  font-size: 80px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  line-height: 85px;
  /*letter-spacing: 0px;*/
}

p
{
  text-align: center;
  margin: 0px;
  font-family: 'Merriweather', serif;
  font-size: 2vw;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  line-height: 85px;
}

h1
{
  text-align: center;
  margin: 0px;
  font-family: 'Merriweather', serif;
  font-size: 20px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  line-height: 30px;
}

img
{
  width: 100%;
  height: auto;
}

#Menu
{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

#Menu > div
{
  transition: 0.3s;
  cursor: pointer;

  height: auto;

  margin: 10px;
  padding: 10px;

  border-radius: 15px;
  background-color: #ebf6ff;

  box-shadow: 0px 0px 5px 0px rgba(0,0,0,.4);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,.4);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,.4);
}
#Menu > div:hover
{
  padding: 20px;
  margin: 0px;

  background-color: #c7cdd3;
  
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,1);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
}

#back /* Back Arrow */
{
  position: fixed;
  cursor: pointer;
  width: 70px;
  top: 45px;
  left: 20px;

  transition: 0.5s;
}
#back:hover
{
  width: 100px;
}

 @media screen and (orientation:landscape) {
   #Menu > div{width: 15%;}
 }
 @media screen and (orientation:portrait) {
   #Menu > div {width: 85%;}
 }